///////////////////////////////////////////////
// creature list
///////////////////////////////////////////////

.copy {
    padding: 8px 16px;
    background: #EAE1E4;
    color: #C70044;
}

.inner {
    padding: 16px;
}

.name {
    padding: 16px 16px 12px;
}
.name__main {
    font-size: 2.8rem;
}
.name__sub {
    padding-top: 8px;
    color: #977B84;
    font-size: 1.2rem;
}

.image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.info {
    margin-top: 16px;
}
.info__title {
    font-size: 1.8rem;
    font-weight: 500;
}
.info__text {
    padding-top: 8px;
    line-height: 1.7;
}

// トランジション用のとこ
///////////////////////////////////////////////
.list {
    // transition: opacity 1s ease;
    &-enter-active {
        transition: opacity 1s ease;
    }
    &-leave-active {
        position: absolute;
    }
    &-enter, &-leave {
        opacity: 0;
    }
}