///////////////////////////////////////////////
// category tab
///////////////////////////////////////////////

.tab {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    background: #fff;
    box-shadow: 0 1px 1px 0 #EAE1E4;
}

.tab__button {
    flex: 1;
    padding: 13px;
    color: #666;
    text-align: center;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.is-active {
        border-bottom: 4px solid #C70044;
        color: #C70044;
    }
}